<div class="login-card">
    <div class="card">
      <div class="card-body">
        <div
          app-loader
          [visible]="isLoaderVisible"></div>
  
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="email">
              email
            </label>
            <input
              id="email"
              formControlName="email"
              type="email"
              class="form-control">
          </div>
  
          <div class="form-group">
            <label for="password">
              password
            </label>
            <input
              id="password"
              formControlName="password"
              type="password"
              class="form-control">
          </div>
  
          <button
            type="submit"
            [disabled]="loginForm.pristine || loginForm.invalid"            
            class="btn btn-primary btn-block">
            login
          </button>
        </form>
      </div>
    </div>
  
    <br>
  
    <div
      *ngIf="loginError"
      class="alert alert-danger"
      role="alert">
      {{ loginError }}
    </div>
  </div>
  
  
  