    <div class="card">
      <div class="card-body">
        <div
          app-loader
          [visible]="isLoaderVisible"></div>
  
        <form #encodeForm="ngForm" (ngSubmit)="getEncondedString(form.value)">
          <div class="form-group">
            <label>
              Add string to encode
            </label>
            <input
              name="stringToEncode"
              ngModel
              #stringToEncode="ngModel"
              type="stringToEncode"
              class="form-control">
          </div>
  
          <button
            type="submit"
            class="btn btn-primary btn-block">
            Run
          </button>
        </form>

        <br>
        {{ encodedValue }}
      </div>
    </div>

  
  